{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Token oшибка" %}{% else %}{% trans "Изменить пароль" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %} Возможно ссылка уже была использована.  Пожалуйста, попробуйте <a href="{{ passwd_reset_url }}">сбросить пароль еще раз.</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" class="btn bg-algolearn-red text-algolearn-grey" value="{% trans 'изменить пароль' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Пароль изменен' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
