{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
    <h1>{% trans "Сброс пароля" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Мы отправили вам email с ссылкой. Нажмите на ссылку для того, чтобы подтвердить ваш аккаунт.<br>
    Если письмо не пришло в течении нескольких минут, то проверьте спам и свяжитесь с нами.{% endblocktrans %}</p>
{% endblock %}
