{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Зарегестрироваться" %}{% endblock %}

{% block content %}
<h1>{% trans "Зарегестрироваться" %}</h1>

<p>{% blocktrans %} Уже есть аккаунт? <a href="{{ login_url }}">Войдите</a>{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn bg-algolearn-red text-algolearn-grey" type="submit">{% trans "Sign Up" %} </button>
</form>

{% endblock %}
