<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
{%  bootstrap_css %}
{%  bootstrap_javascript jquery='full' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/algolearn.css' %}" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="css/aos.css" rel="stylesheet"> SCROLLER-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-algolearn-grey">
<div class="bg-algolearn-yellow container-fluid text-center min-vh-100">
    <nav class="navbar bg-algolearn-navbar sticky-top row">
        <div class="container-fluid font-algolearn-arial">
            <a href="{% url 'main' %}" class="navbar-brand col-12 col-sm-4 col-md-4 col-lg-2">
                <img alt="logo" class="img-fluid mw-100" src="{% static 'images/logo.png' %}">
            </a>
        </div>
    </nav>

    <br>
    <!-- templates/registration/login.html -->
	<div class="container p-3 mt-4 text-center">
		<h2>Войти</h2><br>
		<form class="form-m" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn bg-algolearn-navbar text-algolearn-grey mt-2" type="submit">войти</button>
		</form>
		<div class = "container-sep w-300-px mt-temp bg-algolearn-grey"><div class="bg-algolearn-yellow w-100 or-seperator"><i>или</i></div></div>
		<br>
		<div class="social-btn w-300-px container-sep">
			<a href="{% url 'facebook_login' %}" class="btn btn-primary btn-block" ><i class="fa fa-facebook"></i> Войти с помощью <b>Facebook</b></a>
			<a href="{% url 'google_login' %}" class="btn btn-danger btn-block" ><i class="fa fa-google"></i> Войти с помощью <b>Google</b></a>
		</div>
		<br>
		<a href="{%  url 'account_reset_password' %}">Забыли пароль?</a>
	</div>
</div>
</body>
</html>
