{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
	<div class="social-btn w-300-px container-sep">
	  <a title="{{brand.name}}" 
		 class="btn btn-danger btn-block socialaccount_provider {{provider.id}} {{brand.id}}" 
		 href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
		 ></i> Войти с помощью <b>{{brand.name}}</b></a>
	</div>
</li>
{% endfor %}
{% endif %}
<li>
<div class="mt-4 social-btn w-300-px container-sep">
  <a title="{{provider.name}}" class=" text-center btn btn-danger btn-block socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</div>
</li>
{% endfor %}
