{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Привязки аккаунта" %}{% endblock %}

{% block content %}
<h1>{% trans "Привязки аккаунта" %}</h1>

{% if form.accounts %}
<p>{% blocktrans %} Вы сможете входить в этот аккаунт используя следующие привязки: {% endblocktrans %}</p>

<hr class = "w-25">
<form class = "list-group" method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}

<fieldset>
{% if form.non_field_errors %}
<div id="errorMsg">{{ form.non_field_errors }}</div>
{% endif %}

{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
<div>
<label for="id_account_{{ base_account.id }}">
<input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
<span for="id_account_{{ base_account.id }}" class="list-group-item socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}: {{ account }}</span>

</label>
</div>
{% endwith %}
{% endfor %}

<hr class = "w-25">

<div>
<button class="btn bg-algolearn-red mt-3 text-algolearn-grey" type="submit">{% trans 'Удалить' %}</button>
</div>

</fieldset>

</form>

<div class = "container-sep w-300-px mt-temp-2 bg-algolearn-grey"><div class="bg-algolearn-yellow w-100 or-seperator"><i>или</i></div></div>

{% else %}
<p>{% trans 'У вас еще нет привязок' %}</p>
{% endif %}

<h2>{% trans 'Добавить' %}</h2>

<ul class="socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
