<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/checkin.css' %}" />
    <title>Изменить задание</title>
</head>
<body class="center" vlink="blue" link="blue">
   <div id="roof"> 
   <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название задания</label><br>
            <input class="field" type="text" name="name" value="{{ task.pr_name }}"/>
        </p>
		<p>
            <label>Введите дату проверки(дедлайн)</label><br>
            <input class="field" type="date" name="checkdate" value="{{task.pr_checkdate | date:'Y-m-d'}}"/>
        </p>
		{{ algofill }}
		</p>
   <input type="submit" value="Сохранить" class="si">    
   </form>
   </div>
</body>
</html>