<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/checkin.css' %}" />
    <title>Мои группы</title>
</head>
<body class="center" vlink="blue" link="blue">
	<div id="roof">
	<div class="alert" vlink="green" link="green"><a href="{% url 'index' %}" ><p>На главную</p> </a></div>
    <h2>Список Групп</h2>
    <table>
        <thead><th>Название  <a href="group_me/order/gr_name">⇧⇧⇧</a>|<a href="group_me/order/gr_named">⇩⇩⇩</a></th><th>К списку заданий</th></thead>
        {% for gr in group %}
        <tr>
    		<td>{{ gr.gr_name }}</td>
			<td><a href="problems/{{gr.gr_id}}">Перейти к списку заданий</a></td>
    	</tr>
		{% endfor %}
    </table>
	</div>
</body>
</html>