<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/checkin.css' %}" />
    <title>Изменить название группы</title>
</head>
<body class="center" vlink="blue" link="blue">
    <div id="roof">
	<form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название группы</label><br>
            <input type="text" name="name" value="{{group.gr_name}}" class="field"/>
        </p>
        <input type="submit" value="Сохранить" class="si">
    </form>
	</div>
</body>
</html>