<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Link Swiper's CSS -->
    <link href="css/aos.css" rel="stylesheet">

  <!-- Demo styles -->
  <style>
  </style>
</head>
<body>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>

  <div style="width: 100px; height: 100px; background-color: blue; margin: 10px;" data-aos="fade-up"></div>


  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>



  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;" data-aos="fade-up"></div>
<br>
  <script src="js/aos.js"></script>
  <script>
      AOS.init({
          // Global settings:
          disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
          startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
          initClassName: 'aos-init', // class applied after initialization
          animatedClassName: 'aos-animate', // class applied on animation
          useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
          disableMutationObserver: false, // disables automatic mutations' detections (advanced)
          debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
          throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


          // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
          offset: 120, // offset (in px) from the original trigger point
          delay: 0, // values from 0 to 3000, with step 50ms
          duration: 400, // values from 0 to 3000, with step 50ms
          easing: 'ease', // default easing for AOS animations
          once: false, // whether animation should happen only once - while scrolling down
          mirror: false, // whether elements should animate out while scrolling past them
          anchorPlacement: 'top-center', // defines which position of the element regarding to window should trigger the animation

    });
  </script>
</body>
</html>