<!DOCTYPE html>
{% load staticfiles %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/algolearn.css' %}" type="text/css">
    <!--<link href="css/aos.css" rel="stylesheet"> SCROLLER-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="bg-algolearn-grey">

<div class=" bg-algolearn-yellow container-fluid">

    <nav class="navbar bg-algolearn-navbar sticky-top row">
        <div class="container-fluid font-algolearn-arial">
            <a href="{% url 'main' %}"  class="navbar-brand col-12 col-sm-4 col-md-4 col-lg-2">
                <img alt="logo" class="img-fluid mw-100" src="{% static 'images/logo.png' %}">
            </a>
        </div>
    </nav>


</div>

    {% for course in courses %}
    <div class="card offset-3 col-6 text-center my-5 rounded">
        <div class="card-header w-100 border-0 bg-transparent h-20 d-flex align-items-center justify-content-center">
            <h1 class="d-none d-md-block">{{ course.name }}</h1>
            <h5 class="d-md-none">{{ course.name }}</h5>
        </div>
        <div class="card-body h-50">
            <img class="card-img-top mw-100 mh-100 h-auto mb-5" src={{course.photo}}>
        </div>
        <footer class="w-100 h-30">
            <div class="card-text">
                <p class="d-none d-md-block">{{course.description}}</p>
                <small class="d-md-none">{{course.description}}</small>
            </div>
            <br>
            <a href="{% url 'course' pk=course.id %}" class="btn btn-light btn-border-algolearn-green">Начать курс</a>
        </footer>
    </div>
    {% endfor %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
